lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
config/auth.js
npm-debug.log
app/bower_components/*
!app/bower_components/dist/css/bootstrap-theme.css
node_modules

.DS_Store
.tmp
