<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<a href="#" class="btn btn-primary btn-block"><strong>Create a hit</strong></a>
		<hr>
		<h4><center>Newly completed</center></h4>
		<div class="list-group">
			<a href="" class="list-group-item" style="background-color:#d9edf7">
				<strong class="text-info">Where's good coffee in Oakland?</strong>
				<span class="glyphicon glyphicon-chevron-right pull-right"></span>
			</a>
		</div>
	</div>

	<div class="col-md-6 col-md-offset-3">
		<h4><center>Active hits</center></h4>
		<br>
		<div class="list-group">
			<a href="" class="list-group-item">
				<p>
					<strong>What should I get from this vending machine?</strong>
				</p>
				<small class="help-text">0 out of 3 responses</small>
			</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h4><center>Completed hits</center></h4>
		<div class="list-group">
			<a href="" class="list-group-item">How do you say "cat" in French?
				<span class="glyphicon glyphicon-chevron-right pull-right"></span>
			</a>
			<a href="" class="list-group-item">What sort of flower is this?
				<span class="glyphicon glyphicon-chevron-right pull-right"></span>
			</a>
			<a href="" class="list-group-item">What's my purpose in life?
				<span class="glyphicon glyphicon-chevron-right pull-right"></span>
			</a>
			<a href="" class="list-group-item">Read any good books lately?
				<span class="glyphicon glyphicon-chevron-right pull-right"></span>
			</a>
			<a href="" class="list-group-item">Do you know the muffin man?
				<span class="glyphicon glyphicon-chevron-right pull-right"></span>
			</a>
		</div>
	</div>
</div>
