<div class="jumbotron">
  <h1>informant</h1>
  <img src="images/fedora.png" alt="informant logo" id="logo" />
  <p class="lead">
    Bringing the power of the crowd right to your phone
  </p>
  <p><a class="btn btn-lg btn-danger" ng-href="#/signup">Lets get started!</a></p>
</div>

<div class="row marketing">
  <div class="row">
    <div class="col-md-4">
      <h4><center>You ask a question</center></h4>
      <p>Whether it be identifying an image, asking for directions, or even getting dinner recommendations.</p>
    </div>
    <div class="col-md-4">
      <h4><center>We ask the crowd</center></h4>
      <p>We crowdsource your questions to our vast pool of workers, all ready to answer your questions.</p>
    </div>
    <div class="col-md-4">
      <h4><center>Clean, easy results</center></h4>
      <p>We do all the organizing for you, and we provide easy ways to export your results to other services. </p>
    </div>
  </div>
</div>

<div class="footer">
  <p>Designed with ♥ in Pittsburgh</p>
</div>
