<div class="row">

	<div class="col-md-6 col-md-offset-3">
		<h4><center>What are you asking about?</center></h4>
		<select ng-model="type" class="form-control">
		  <option>Short question</option>
		  <option>Image information</option>
		</select>
	</div>
</div>
<hr>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h4><center>What's your question?</center></h4>
		<input ng-model="description" type="text" class="form-control" placeholder="Where's good coffee in Oakland?">
	</div>
</div>
<hr>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h4><center>How many answers would you like to receive?</center></h4>
		<input ng-model="numTasks" type="number" class="form-control" ng-min=0 ng-model="hits" placeholder="5 isn't a bad start">
	</div>
</div>
<hr>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h4><center>How much are you willing to pay for a response? </center></h4>
		<div class="input-group">
		  <span class="input-group-addon">$</span>
		  <input ng-model="reward" type="text" class="form-control" placeholder="Try around 10¢ for brief questions">
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3" ng-hide="errorMessage.length == 0">
		<br>
		<div class="alert alert-danger">{{errorMessage}}</div>
	</div>
	<div class="col-md-6 col-md-offset-3">
		<br>
		<a class="btn btn-primary btn-lg btn-block" ng-disabled="!user._id" ng-click="makeHit()">Lets do this!</a>
	</div>
	<div class="col-md-6 col-md-offset-3" ng-hide="successMessage.length == 0">
		<br>
		<div class="alert alert-success">{{successMessage}}</div>
	</div>
</div>

</div>
