<div class="row">

	<div class="col-md-6 col-md-offset-3">
		<h4><center>What are you asking about?</center></h4>
		<select class="form-control">
		  <option>Short question</option>
		  <option>Image informatnion</option>
		</select>
	</div>
</div>
<hr>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h4><center>What's your question?</center></h4>
		<input type="text" class="form-control" placeholder="Where's good coffee in Oakland?">
	</div>
</div>
<hr>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h4><center>How many answers would you like to receive?</center></h4>
		<input type="number" class="form-control" ng-min=0 ng-model="hits" placeholder="5 isn't a bad start">
	</div>
</div>
<hr>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h4><center>How much are you willing to pay for a response? </center></h4>
		<div class="input-group">
		  <span class="input-group-addon">$</span>
		  <input type="text" class="form-control" placeholder="Try around 10¢ for quick replies">
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<a class="btn btn-primary btn-lg btn-block">Lets do this!</a>
	</div>
</div>

</div>
