
<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">informant</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="/connect/twitter">Login With Twitter</a></li>
<!--             <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="jumbotron">
  <h1>informant</h1>
  <img src="images/fedora.png" alt="informant logo" id="logo" />
  <p class="lead">
    Bringing the power of the crowd right to your phone
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Lets get started!</a></p>
</div>

<div class="row marketing">
  <div class="row">
    <div class="col-md-4">
      <h4><center>You ask a question</center></h4>
      <p>Whether it be identifying an image, asking for directions, or even getting dinner recommendations.</p>
    </div>
    <div class="col-md-4">
      <h4><center>We ask the crowd</center></h4>
      <p>We crowdsource your questions to our vast pool of workers, all ready to answer your questions.</p>
    </div>
    <div class="col-md-4">
      <h4><center>Clean, easy results</center></h4>
      <p>We do all the organizing for you, and we provide easy ways to export your results to other services. </p>
    </div>
  </div>
</div>

<div class="footer">
  <p>Designed with ♥ in Pittsburgh</p>
</div>
